.parent {
    width: 80%;
    background-color: #9e9e9e;
    margin: 0 auto;
    padding-bottom: 80%;
    overflow: hidden;
    position: relative;
}

#move {
    height: 100px;
    width: 100px;
    position: absolute;
    background: red;
}